<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs acceptance tests. &#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;MAY be run manually&lt;/li&gt;&#xd;
  &lt;li&gt;Runs automatically when the platform or playbook are built&lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>7</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PLATFORM_VERSION</name>
          <description>The platform version to deploy. &quot;latest&quot; means to use the latest stable version.</description>
          <defaultValue>latest</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PLAYBOOK_VERSION</name>
          <description>The version of the playbook to use for deployment. &quot;latest&quot; means to use the latest stable version.</description>
          <defaultValue>latest</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.9.4">
      <taskName>Acceptance Test</taskName>
      <stageName>Acceptance</stageName>
    </se.diabol.jenkins.pipeline.PipelineProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://cgit-pro.houston.hp.com/gerrit/p/casfw-infrastructure.git</url>
        <credentialsId>adf413bb-73f2-4b6e-91c3-4521172ce77f</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>[[ &quot;${PLATFORM_VERSION}&quot; == &quot;latest&quot; ]] &amp;&amp; PLATFORM_VERSION=$(pipeline.sh lastStablePlatformVersion)
[[ -z &quot;${PLATFORM_VERSION}&quot; ]] &amp;&amp; echo &quot;There is no stable platform version&quot; &amp;&amp; exit 1
  
[[ &quot;${PLAYBOOK_VERSION}&quot; == &quot;latest&quot; ]] &amp;&amp; PLAYBOOK_VERSION=$(pipeline.sh lastStablePlaybookVersion)
[[ -z &quot;${PLAYBOOK_VERSION}&quot; ]] &amp;&amp; echo &quot;There is no stable playbook version&quot; &amp;&amp; exit 1

cat &gt; deploy.properties &lt;&lt; EOF
COMPANY=hpq
ENVIRONMENT=dev
PLATFORM_VERSION=${PLATFORM_VERSION}
PLAYBOOK_VERSION=${PLAYBOOK_VERSION}
UNIX_USERNAME=casfw
EOF

# Copy platform CDIs to enable file fingerprinting
pipeline.sh copyPlatformArtifacts &quot;${PLATFORM_VERSION}&quot;
</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.27">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>deploy.properties</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>Platform 5 Deploy</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Fingerprinter>
      <targets>*.cdi, .git/HEAD</targets>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers>
    <org.jvnet.hudson.tools.versionnumber.VersionNumberBuilder plugin="versionnumber@1.5">
      <versionNumberString>${BUILD_DATE_FORMATTED, &quot;MMMM dd&quot;} #${BUILDS_TODAY}</versionNumberString>
      <projectStartDate>1970-01-01 00:00:00.0 UTC</projectStartDate>
      <environmentVariableName>TEST_VERSION</environmentVariableName>
      <environmentPrefixVariable></environmentPrefixVariable>
      <oBuildsToday>-1</oBuildsToday>
      <oBuildsThisMonth>-1</oBuildsThisMonth>
      <oBuildsThisYear>-1</oBuildsThisYear>
      <oBuildsAllTime>-1</oBuildsAllTime>
      <skipFailedBuilds>false</skipFailedBuilds>
      <useAsBuildDisplayName>true</useAsBuildDisplayName>
    </org.jvnet.hudson.tools.versionnumber.VersionNumberBuilder>
  </buildWrappers>
</project>