<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>CASFW</fullName>
  <description></description>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>DGn5fSEAmwxenUMg1YBe1BMnS0iAof3OeJVC1R1eDU00YutvmCjkSA2lDsztTq56</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.22">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDJMbhYBov+/yTIdsi0uw06BO15+1DN4/Q57Nx3sFbCqJt75qsytFhoh9IoZXaQe4eKUJ3bXNdGc5GJeHm9wwtl19/vorZOW3PgFMGEF73F4hsu27Yys28+gWdWF1kIhFBC0zwWewsSEDe/p7+JjdCEUih2/Higz75EVOnWksmthgGF8E/dir2myFWVbJJZTRWxdbmcowIthzz8bRcFlvzAKjQ0rYrZKmaqWzKwnv7egZf91RRRo8oaYTH5Qe4B53DzS7B6PWKNFTsvdDlHTLMsvKjXwVRpm8XC7kjwPXlEMZLqUjjjG/5pzs6IFpHrQClBUjMtrEmpcE0Ij7Z2oQDh Continuous Delivery Automation
</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>
